<div class="about-container">
    <div class="about-text">
      <h1>Sobre mí</h1>
      <p>
        Bienvenidos a mi portafolio, el espacio donde comparto mi trabajo fotográfico.
      </p>
      <p>
        Mi nombre es Beatriz Molina y soy fotógrafa con un enfoque en la captura de momentos auténticos.
      </p>
      <p>
        Mi objetivo es ofrecer imágenes que trasciendan lo superficial y reflejen la esencia de cada sujeto, lugar o situación a través de retratos, fotografía de paisaje o proyectos conceptuales, cada toma representa un compromiso con la calidad, la intención y el respeto por la imagen.
      </p>
      <p>
        Gracias por visitar este espacio. Si deseas conocer más sobre mi trabajo o colaborar en futuros proyectos, no dudes en contactarme.
      </p>
    </div>
    <div class="about-image">
        <!-- <img src="https://assets.nintendo.eu/image/upload/f_auto,c_limit,w_400,q_auto:eco:sensitive/MNS/Content%20Pages%20Assets/Category-List%20Pages/Consoles/Nintendo%20Switch%20Hub/2000x1125_Consoles_Switch_Flagship_BeautyShot" alt="Ejemplo"> -->
        <img src="assets/retrato.jpg" alt="Beatriz Molina">

    </div>
  </div>
  